.info {
  display: grid;
  align-items: start;
  gap: var(--space);
  padding-block-start: var(--space);
  padding-inline: var(--space);

  @media (--md) {
    grid-template-columns: 25ch 1fr;
  }

  & h2 {
    color: var(--color-orange);
    font-size: var(--font-size-4);
    line-height: 1.15;
  }

  & p {
    font-size: var(--font-size-1);
    line-height: 1.5;

    & + p {
      margin-block-start: 1.5em;
    }
  }

  & a {
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-orange);
    }
  }
}
