---
import { Content } from "./Info.md"
import styles from "./Info.module.css"
---

<section class={styles.info}>
  <h2>So, what is this about?</h2>

  <div class={styles.content}>
    <Content />
  </div>
</section>
