.info {
  padding-block-start: var(--space);
  padding-inline: var(--space);
  display: grid;
  gap: var(--space);
  align-items: start;

  @media (--md) {
    grid-template-columns: 25ch 1fr;
  }

  & h2 {
    line-height: 1.15;
    color: var(--color-orange);
    font-size: var(--font-size-4);
  }

  & p {
    line-height: 1.5;
    font-size: var(--font-size-1);

    & + p {
      margin-block-start: 1.5em;
    }
  }
}
