@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: local("Outfit"), url("/fonts/outfit-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/outfit-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/outfit-700.woff2") format("woff2");
}
