.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.headline {
  font-feature-settings: var(--headline-font-features);
  font-size: var(--font-size-5);
  line-height: 1.15;
  max-inline-size: 20ch;
}

.githubLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--color-orange-hsl) / 0.1);
  border-radius: 99px;
  font-size: var(--font-size--1);
  font-weight: 500;
  gap: 0.75ch;
  padding-block: 0.375em;
  padding-inline-end: 0.75em;
  padding-inline-start: 0.375em;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:is(:hover, :focus-visible) {
    background-color: hsl(var(--color-orange-hsl) / 0.2);
  }

  &:focus-visible {
    outline: 2px solid var(--color-orange);
    outline-offset: 2px;
  }

  & svg {
    --size: 1.5em;
    block-size: var(--size);
    inline-size: var(--size);
  }
}

.overlay {
  position: fixed;
  z-index: 999;
  background-image: url("/img/grain.png");
  background-repeat: repeat;
  background-size: 22rem 30rem;
  inset: 0;
  mix-blend-mode: multiply;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

.bgBlur {
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 0% 100%,
    hsl(var(--color-orange-hsl) / 0.2) 0%,
    hsl(var(--color-orange-hsl) / 0) 100%
  );
  block-size: 50vw;
  inline-size: 90vw;
  inset-block-end: 0;
  inset-inline-start: 0;
  pointer-events: none;
}
