:root {
  /* Colors */
  --color-foreground: hsl(0 0% 100%);
  --color-foreground-secondary: hsl(0 0% 100% / 0.6);

  --color-orange-hsl: 7 100% 69%;
  --color-orange: hsl(var(--color-orange-hsl));

  --color-purple-hsl: 259 81% 28%;
  --color-purple: hsl(var(--color-purple-hsl));

  /* Spacing */
  --space: clamp(1.5rem, 0.91rem + 2.93vw, 3rem);

  /* Font-sizes: https://utopia.fyi/type/calculator/?c=375,16,1.25,1056,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --font-size--2: clamp(0.64rem, 0.55rem + 0.38vw, 0.8rem);
  --font-size--1: clamp(0.8rem, 0.69rem + 0.47vw, 1rem);
  --font-size-0: clamp(1rem, 0.86rem + 0.59vw, 1.25rem);
  --font-size-1: clamp(1.25rem, 1.08rem + 0.73vw, 1.56rem);
  --font-size-2: clamp(1.56rem, 1.35rem + 0.92vw, 1.95rem);
  --font-size-3: clamp(1.95rem, 1.68rem + 1.15vw, 2.44rem);
  --font-size-4: clamp(2.44rem, 2.11rem + 1.43vw, 3.05rem);
  --font-size-5: clamp(3.05rem, 2.63rem + 1.79vw, 3.82rem);

  /* Font features */
  --headline-font-features: "salt" on;

  /* Easings: https://gist.github.com/argyleink/36e1c0153d2a783d513bd29c9f25aaf2 */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
