.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.unitToggleWrapper {
  position: relative;
}

.unitToggle {
  --height: 2.5rem;
  --width: calc(var(--height) * 1.9);
  --padding: 0.125rem;
  --items-size: calc(var(--height) - var(--padding) * 2);

  position: relative;
  height: var(--height);
  width: var(--width);
  padding-inline: var(--padding);
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(0 0 0 / 0.05);
  border-radius: 99px;

  &,
  & * {
    cursor: pointer;
  }
}

.unitToggleBg {
  position: absolute;
  background-color: white;
  align-self: center;
  left: var(--padding);
  border-radius: 10rem;
  height: var(--items-size);
  width: var(--items-size);
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.5s var(--ease-in-out-quint), border-color 0.2s ease;
  border: 2px solid transparent;
}

.unitToggleText {
  z-index: 0;
  width: var(--items-size);
  height: var(--items-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;

  &:first-of-type {
    justify-self: start;
  }

  &:last-of-type {
    justify-self: end;
  }
}

.unitCheckbox {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &:focus-visible {
    & + .unitToggleBg {
      border-color: rgb(0 0 222 / 0.5);
    }
  }

  &:checked {
    & + .unitToggleBg {
      transform: translateX(
        calc(var(--width) - (var(--items-size) + (var(--padding) * 2)))
      );
    }
  }
}

.inputs {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20rem;

  & input {
    height: 2.5rem;
    padding-inline: 0.5rem;
  }
}

.inputErrorMessage {
  color: rgb(222 0 0 / 1);
}

.output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(0 0 0 / 0.1);
  white-space: normal;
  line-height: 1.25;
}

.copyButton {
  --size: 2.25rem;
  --offset: 0.25rem;
  --base-rgb: 0 0 200;
  --bg-opacity: 0.1;

  border: none;
  background-color: rgb(var(--base-rgb) / var(--bg-opacity));
  border-radius: 0.375rem;
  width: var(--size);
  height: var(--items-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    --bg-opacity: 0.2;
  }

  & svg {
    --size: 1.5rem;

    width: var(--size);
    height: var(--size);
    color: rgb(var(--base-rgb) / 0.9);
  }
}

.errors {
  background-color: rgb(222 0 0 / 0.15);
  padding: 1rem;
  border-radius: 0.5rem;

  & ul {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
  }
}

.box {
  /* width: var(--variable-value);
  height: var(--variable-value); */
  width: 4rem;
  height: 4rem;

  margin-left: var(--variable-value);

  background-color: lightcoral;
}
