.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputs {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20rem;

  & input {
    height: 2.5rem;
    padding-inline: 0.5rem;
  }
}

.inputErrorMessage {
  color: rgb(222 0 0 / 1);
}

.output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(0 0 0 / 0.1);
  white-space: normal;
  line-height: 1.25;
}

.copyButton {
  --size: 2.25rem;
  --offset: 0.25rem;
  --base-rgb: 0 0 200;
  --bg-opacity: 0.1;

  border: none;
  background-color: rgb(var(--base-rgb) / var(--bg-opacity));
  border-radius: 0.375rem;
  width: var(--size);
  height: var(--size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    --bg-opacity: 0.2;
  }

  & svg {
    --size: 1.5rem;

    width: var(--size);
    height: var(--size);
    color: rgb(var(--base-rgb) / 0.9);
  }
}

.errors {
  background-color: rgb(222 0 0 / 0.15);
  padding: 1rem;
  border-radius: 0.5rem;

  & ul {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
  }
}

.box {
  /* width: var(--variable-value);
  height: var(--variable-value); */
  width: 4rem;
  height: 4rem;

  margin-left: var(--variable-value);

  background-color: lightcoral;
}
