---
import styles from "./Footer.module.css"
---

<footer class={styles.footer}>
  <p>
    Made with <span class={styles.emoji} aria-label="love">💜</span>
     by Milena,
    <a href="https://nes.im" target="_blank" rel="noopener noreferrer">
      Nesim
    </a> &
    <a
      href="https://twitter.com/supremebeing09"
      target="_blank"
      rel="noopener noreferrer"
    >
      Nils
    </a>

     @
    <a href="https://9elements.com" target="_blank" rel="noopener noreferrer">
      9elements
    </a>
  </p>

  <ul class={styles.links}>
    <li>
      <a
        href="https://9elements.com/imprint"
        target="_blank"
        rel="noopener noreferrer"
      >
        Imprint
      </a>
    </li>
    <li>
      <a
        href="https://9elements.com/privacy"
        target="_blank"
        rel="noopener noreferrer"
      >
        Privacy
      </a>
    </li>
  </ul>
</footer>
