.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-block-start: 1px solid rgb(255 255 255 / 0.15);
  color: var(--color-foreground-secondary);
  font-size: var(--font-size-0);
  gap: 2rem;
  line-height: 1.3;
  margin-block-start: var(--space);
  padding-block: var(--space);
  padding-inline: var(--space);
  text-align: center;

  & a {
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-foreground);
      text-decoration: underline;
    }
  }

  @media (--md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.emoji {
  display: inline-block;
  color: var(--color-foreground);
  margin-inline-end: 0.25ch;
}

/* .highlight {
  color: var(--color-foreground);
} */

.links {
  display: flex;
  gap: 1.5ch;
  list-style-type: none;
}
