---
import styles from "./Examples.module.css"
---

<hr class={styles.divider} />
<section class={styles.examples}>
  <h2>Some Examples</h2>
  <div class={styles.pen}>
    <p
      class="codepen"
      data-height="480"
      data-theme-id="36931"
      data-default-tab="result"
      data-slug-hash="xxYdMVQ"
      data-preview="true"
      data-user="enbee81"
      style="height: 480px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    >
      <span
        >See the Pen <a href="https://codepen.io/enbee81/pen/xxYdMVQ">
          min-max-interpolation example</a
        > by Nils Binder (<a href="https://codepen.io/enbee81">@enbee81</a>) on <a
          href="https://codepen.io">CodePen</a
        >.</span
      >
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
    ></script>
  </div>

  <div class={styles.pen}>
    <p
      class="codepen"
      data-height="480"
      data-theme-id="36931"
      data-default-tab="result"
      data-slug-hash="VwQbOjJ"
      data-preview="true"
      data-user="enbee81"
      style="height: 480px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    >
      <span
        >See the Pen <a href="https://codepen.io/enbee81/pen/VwQbOjJ">
          Untitled</a
        > by Nils Binder (<a href="https://codepen.io/enbee81">@enbee81</a>) on <a
          href="https://codepen.io">CodePen</a
        >.</span
      >
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
    ></script>
  </div>
</section>
