.divider {
  margin-block: calc(var(--space) * 2);
  margin-inline: auto;
  width: min(90%, 12rem);
  border: none;
  border-bottom: 1px solid rgb(255 255 255 / 0.15);
}

.examples {
  padding-inline: min(3vw, var(--space));
  display: flex;
  flex-direction: column;
  gap: var(--space);
  width: 100%;

  & h2 {
    color: var(--color-orange);
    font-feature-settings: var(--headline-font-features);
    font-size: var(--font-size-4);
    line-height: 1.15;
    text-align: center;
  }
}

.pen {
  padding: 1em;
  border-radius: 0.5em;
  background: rgb(255 255 255 / 0.1);
  resize: horizontal;
  overflow: auto;
  margin-inline: auto;
  width: 100%;
  max-width: 100%;
}
